.navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  border: 1px solid #111;
}

.navbar__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  height: 80px;
}

.navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 136px;
  height: 38px;
  border: 1px solid #111;
}

.navbar__menu {
  display: flex;
  align-items: center;
  border: 1px solid #111;
}

.navbar__menuItem:not(:last-child) {
  margin-right: 20px;
}

.navbar__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  border: 1px solid #111;
}
